<h1>About me</h1>
<p>I'm the sweetest dog of all time.</p>
<p>I love eating whatever, yes, even poo, don't judge me.</p>
<p> Oh, and my favorite hobby is tearing toys from the inside out.</p>
<p>I'm not picky, I'll tear anything apart if I don't have a toy with me. Shoes, purses, books... anything will do.</p>